bin
maps
packages
plugins
*.dll
*.tar.gz
*.exe
*.json
!conf.json
dotnet/runtime
dotnet/resources/.idea
dotnet/*.txt
dotnet/resources/server/obj/
dotnet/resources/server/bin/
clientside/.idea
clientside/bin
clientside/obj
dotnet/resources/server/.idea
dotnet/resources/server/.run